<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear/>

    <!--<add name="LB_SQL_ConnString" connectionString="Data Source=localhost\SqlExpress;Initial Catalog=LvBao;User ID=sa;password=x4v8m2e@p2dk)s7b"/>-->
    <!--<add name="LB_SQL_ConnString" connectionString="Data Source=localhost;Initial Catalog=LvBao;User ID=sa;password=LHGMnt1982!@"/>-->
    <add name="LB_SQL_ConnString" connectionString="data Source=106.14.225.143;Initial Catalog=LvBao;User ID=sa;password=jJR@Nq)iVm8X8dxi"/>
  </connectionStrings>
  <appSettings>
    <!-- 以下为绿宝服务号配置 -->
    <add key="AppId" value="wx05eb2305685408a7"/>
    <add key="AppSecret" value="b1100370fae06d358ab0ba6263bfa6ac"/>
    <add key="Token" value="lvbao"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime />
    <customErrors mode="Off"/>
  </system.web>
</configuration>