<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear/>

    <!--<add name="LB_SQL_ConnString" connectionString="Data Source=localhost\SqlExpress;Initial Catalog=LvBao;User ID=sa;password=x4v8m2e@p2dk)s7b"/>-->
    <!--<add name="LB_SQL_ConnString" connectionString="Data Source=localhost;Initial Catalog=LvBao;User ID=sa;password=LHGMnt1982!@"/>-->
    <add name="LB_SQL_ConnString" connectionString="data Source=106.14.225.143;Initial Catalog=LvBao;User ID=sa;password=jJR@Nq)iVm8X8dxi"/>
    <!--<add name="CnRegion_SQL_ConnString" connectionString="data Source=localhost/SQLExpress;Initial Catalog=RegionDB;User ID=sa;password=x4v8m2e@p2dk)s7b"/>-->
    <add name="CnRegion_SQL_ConnString" connectionString="data Source=106.14.225.143;Initial Catalog=RegionDB;User ID=sa;password=jJR@Nq)iVm8X8dxi"/>
    <!--<add name="CnRegion_SQL_ConnString" connectionString="data Source=localhost;Initial Catalog=RegionDB;User ID=sa;password=LHGMnt1982!@"/>-->
  </connectionStrings>
  <appSettings>
    <!-- 以下为绿宝服务号配置 -->
    <add key="AppId" value="wx05eb2305685408a7"/>
    <add key="AppSecret" value="b1100370fae06d358ab0ba6263bfa6ac"/>
    <add key="Token" value="lvbao"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <!-- Windows,Forms -->
      <forms name=".LBFlat" loginUrl="~/AutoLogin.aspx" defaultUrl="~/TodayQuotation.aspx"  protection="All" cookieless="UseDeviceProfile" timeout="525600" enableCrossAppRedirects="true" path="/"  />
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <machineKey validation="SHA1" validationKey="CC9F4CEC13E5302776D8066693AEAAF854E69CAC388450492DA3C137EEA5D142B76209E563C9397B94B36F7860691043567EBE6777D450B25E9F4BAF37C8D7B7" decryptionKey="87BF8601DF9E83E6E2194BE18885F471B98DD546DDC48A3C"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LB_SQL_ConnString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" connectionStringName="LB_SQL_ConnString" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="LB_SQL_ConnString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime />
    <customErrors mode="Off"/>
  </system.web>
</configuration>