html
{
    height: 100%;
    margin: 0;
}
body
{
    font-size: 14px;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
    height: 95%;
}
#pageHead
{
    height: 12%;
    background-color: #33FF00;
}

div.hideSkiplink
{
    /*background-color: #ffffff;*/
    width: 100%;
    background-color: #99FF80;
    height: 30px;
}

/*Start    顶部菜单////////////////////////////////////////////////////////////************/


#menuMain
{
    margin: 0 0 0 40px;
}

#menuMain td
{
    font-size: 22px;
    padding: 5px;
}

.menuMainItem
{
    font-family: 微软雅黑;
    color: #666666;
    border-bottom: 3px solid #33FF00;
}

.menuMainHover
{
    font-family: 微软雅黑;
    color: white;
    border-bottom: 3px solid #28551C;
}

/*End    顶部菜单////////////////////////////////////////////////////////////************/

/*Start    竖向子菜单////////////////////////////////////////////////////////////************/


#menuSub
{
    width: 100%;
    color: #666666;
}

.menuSubItem
{
    width: 100%;
    font-size: 18px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
    color: #666666;
}

.menuSubHover
{
    background-color: #99FF80;
    color: #666666;
}

#menuSub li
{
    width: 100%;
    font-size: 18px;
    height: 40px;
    text-align: center;
    vertical-align: bottom;
}


/*End    竖向子菜单////////////////////////////////////////////////////////////************/

.footer
{
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    background-color: #4FAA39;
    color: White;
}

.modalBackground
{
    background-color: #000;
    filter: alpha(opacity=60);
    opacity: 0.8;
}

.modalFrontBackground
{
    display: block;
    color: #FFFFFF;
    background-color: #E6EEF7;
    text-align: center;
    border: solid1px#73A2D6;
    padding: 10px;
}



.gvRow
{
    text-align: center;
    height: 20px;
}

.gvRow:hover
{
    text-align: center;
    height: 20px;
    background-color: #c8dafa;
}

.gvAltRow
{
    background-color: #F5FBFF;
    text-align: center;
    height: 20px;
}

.gvAltRow:hover
{
    background-color: #c8dafa;
    text-align: center;
    height: 20px;
}

.gvEditRow
{
    height: 12px;
    background-color: #FAF9DD;
}

.gvHeader
{
    background-color: #99ccff;
    border-color: #3F6293;
    height: 20px;
    text-align: center;
}

.gvPager
{
    font-size: 11pt;
}


.btn
{
    border-right: #002D96 1px solid;
    padding-right: 2px;
    border-top: #002D96 1px solid;
    padding-left: 2px;
    font-size: 12px;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,  StartColorStr=#FFFFFF, EndColorStr=#9DBCEA);
    border-left: #002D96 1px solid;
    cursor: hand;
    color: black;
    padding-top: 2px;
    border-bottom: #002D96 1px solid;
}

.button
{
    background-color: #666666; /* Green */
    border: none;
    color: white;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}


#modalDiv
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: black;
    opacity: .60;
    filter: alpha(opacity=30);
}



.datable
{
    background-color: #9FD6FF;
    color: #333333;
    font-size: 12px;
}
.datable tr
{
    height: 20px;
}
.datable .lup
{
    background-color: #C8E1FB;
    font-size: 12px;
    color: #014F8A;
}
.datable .lup th
{
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    font-weight: normal;
}
.datable .lupbai
{
    background-color: #FFFFFF;
}
.datable .trnei
{
    background-color: #F2F9FF;
}
.datable td
{
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

.mGrid
{
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}
.mGrid td
{
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171;
    text-align:center;
}
.mGrid th
{
    padding: 4px 2px;
    color: #fff;
    background: #424242 url(grd_head.png) repeat-x top;
    border-left: solid 1px #525252;
    font-size: 0.9em;
        text-align:center;
}
.mGrid .alt
{
    background: #fcfcfc url(grd_alt.png) repeat-x top;
}
.mGrid .pgr
{
    background: #424242 url(grd_pgr.png) repeat-x top;
}
.mGrid .pgr table
{
    margin: 5px 0;
}
.mGrid .pgr td
{
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
}
.mGrid .pgr a
{
    color: #666;
    text-decoration: none;
}
.mGrid .pgr a:hover
{
    color: #000;
    text-decoration: none;
}

.gvNews
{

    }
